header{
    display: flex;
    justify-content: space-between;
    font-size:large;
    margin-left: 50px;
    margin-top: -10px;
}
header>nav>ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: larger;
    /* padding: -10px; */

    
}

header>h1.h3{
    font-weight: normal;
}
li:hover{
    cursor: pointer;
    color: red;
    border: 20px;
}
header>nav{
    width: 28rem;
    margin-top: 1rem;
    position: relative;

}
.bigimage{
    margin : 1rem;
    width: 95vw;
    height: 41vw;
    margin-bottom: 70px;
    margin-top: -3px;
    margin-left: 25px;
}
.container
{
    display: flex;
}
.container>div{
    text-align: center;
    font-size: medium;
    /* justify-content: space-between; */
    margin: auto;
    padding: 1rem;
    border: 10px;
    border-top-color: bisque;
}
.container>div p{
line-height: 2rem;    
text-align: center;
/* background-color: bisque; */
}
.container img{
    /* background-color: bisque; */
}
.container>div h3{
    font-size:x-large;
}
*{
    font-family: cursive;
}
footer{
    
background-color: black;
color: aliceblue;
text-align: center;
height: 4rem;

}
footer>h1{
    /* margin-top: 10px; */
    padding: 10px;
}









